body{
height: 1024px;
width: 1440px;
left: -720px;
top: -512px;
border-radius: 0px;
background: #FFFFFF;


}


/*RANKING*/

.rank1{
position: absolute;
width: 36px;
height: 36px;
left: 698px;
top: 105px;
border-radius: 60%;
font-size: 32px;
color:#FFFFFF;
text-align: center;

background: #BABEFF;

}

.rank2{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 406px;
    top: 174px;
    border-radius: 60%;
    font-size: 28px;
    color:#FFFFFF;
    text-align: center;
    
    background: #BABEFF;
}
.rank3{
    position: absolute;
width: 36px;
height: 36px;
left: 983px;
top: 174px;
border-radius: 60%;
font-size: 28px;
color:#FFFFFF;
text-align: center;


background: #BABEFF;

}
 .rank4{
    position: absolute;
width: 23px;
height: 36px;
left: 40px;
top: 500px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

 .rank5{
    position: absolute;
width: 23px;
height: 36px;
left: 40px;
top: 617px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

.rank6{
    position: absolute;
width: 23px;
height: 36px;
left: 40px;
top: 731px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

 .rank7{
    position: absolute;
width: 23px;
height: 36px;
left: 40px;
top: 841px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

 .rank8{
    position: absolute;
width: 23px;
height: 36px;
left: 40px;
top: 955px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

/*NAMES*/

#rank4name{
    position: absolute;
width: 227px;
height: 36px;
left: 255px;
top: 500px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

#rank5name{
    position: absolute;
width: 227px;
height: 36px;
left: 255px;
top: 617px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

#rank6name{
    position: absolute;
width: 227px;
height: 36px;
left: 255px;
top: 731px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

#rank7name{
    position: absolute;
width: 227px;
height: 36px;
left: 255px;
top: 846px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

#rank8name{
    position: absolute;
width: 227px;
height: 36px;
left: 255px;
top: 955px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1E1E1E;
}

/*POINTS*/

#rank4points{
position: absolute;
width: 227px;
height: 36px;
left: 1119px;
top: 500px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;
}


#rank5points{
position: absolute;
width: 227px;
height: 36px;
left: 1119px;
top: 617px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;
}

#rank6points{
position: absolute;
width: 227px;
height: 36px;
left: 1119px;
top: 731px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;
}


#rank7points{
position: absolute;
width: 227px;
height: 36px;
left: 1119px;
top: 846px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;
}

#rank8points{
position: absolute;
width: 227px;
height: 36px;
left: 1119px;
top: 955px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;
}








/*HEADING*/
.head{
position: absolute;
width: 362px;
height: 58px;
left: 539px;
top: 18px;

font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 64px;
color: #FFFFFF;

}

/*MAIN avatarS*/
.avatar1{
    position: absolute;
width: 214.86px;
height: 214.86px;
left: 610.06px;
top: 151.71px;
border-radius: 60%;

background: #BABEFF;
}

.avatar2{
    position: absolute;
width: 160px;
height: 160px;
left: 344px;
top: 222px;
border-radius: 60%;

background: #BABEFF;
}

.avatar3{
    position: absolute;
width: 160px;
height: 160px;
left: 920px;
top: 222px;
border-radius: 60%;

background: #BABEFF;
    
}

/*OTHER PARTICIPANT avatarS*/
.avatar1dash{
    position: absolute;
    width: 74.42px;
    height: 74.42px;
    left: 127.79px;
    top: 482.79px;
    background: #BABEFF;
    border-radius:60%

}
.avatar2dash{
    position: absolute;
    width: 74.42px;
    height: 74.42px;
    left: 127.79px;
    top: 596.79px;
    background: #BABEFF;
    border-radius:60%
    
}
.avatar3dash{
    background: #BABEFF;
    position: absolute;
    width: 74.42px;
    height: 74.42px;
    left: 127.79px;
    top: 710.79px;
    border-radius:60%
    
}
.avatar4dash{
    background: #BABEFF;
    position: absolute;
    width: 74.42px;
    height: 74.42px;
    left: 127.79px;
    top: 825.79px;
    border-radius:60%

    
}
.avatar5dash{
    background: #BABEFF;
    position: absolute;
    width: 74.42px;
    height: 74.42px;
    left: 127.79px;
    top: 939.79px;
    border-radius:60%
    
}


/* TOP PARTICIPANT BOXES */
#boxsecond{
position: absolute;
width: 156px;
height: 32px;
left: 346px;
top: 395px;
text-align: center;
color:#FFFFFF;
font-size: 20px;
font-family: "Inter";
padding-top: 5px;

background: #BABEFF;
border-radius: 16px;

}

#boxfirst{
position: absolute;
width: 228.29px;
height: 42.97px;
left: 608.71px;
top: 384.03px;
text-align: center;
color:#FFFFFF;
font-size: 25px;
font-family: "Inter";
padding-top: 5px;
background: #BABEFF;
border-radius: 36px;
}

#boxthird{
position: absolute;
width: 170px;
height: 32px;
left: 920px;
top: 394px;
text-align: center;
color:#FFFFFF;
font-size: 20px;
font-family: "Inter";
padding-top: 5px;


background: #BABEFF;
border-radius: 16px;
}


/*PARTICIPANT BOXES*/
.box0{
position: absolute;
width: 1440px;
height: 508px;
left: 0px;
top: -61px;

background: #656CEC;
border-radius: 64px;
}

.box1{
position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 470px;
background: #D2D4F2;
}
.box2{
position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 584px;

background: #D2D4F2;

}

.box3{
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 698px;
    
    background: #D2D4F2;
}

.box4{
    position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 813px;
background: #D2D4F2;
}

.box5{
    position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 927px;
background: #D2D4F2;
}