body {
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
    background: #FFFFFF;
  }
  
  /* RANKING */
  .rank1 {
    position: absolute;
    width: 1.75%;
    height: 3.5vh;
    left: 49.36%;
    top: 9vh;
    border-radius: 60%;
    font-size: 3vh;
    color: #FFFFFF;
    text-align: center;
    background: #BABEFF;
  }
  
  .rank2 {
    position: absolute;
    width: 1.75%;
    height: 3.5vh;
    left: 29%;
    top: 13vh;
    border-radius: 60%;
    font-size: 3vh;
    color: #FFFFFF;
    text-align: center;
    background: #BABEFF;
  }
  
  .rank3 {
    position: absolute;
    width: 1.75%;
    height: 3.5vh;
    left: 69.8%;
    top: 13vh;
    border-radius: 60%;
    font-size: 3vh;
    color: #FFFFFF;
    text-align: center;
    background: #BABEFF;
  } 
  
  /* HEADING */
  .head {
    position: absolute;
    width: 25.14%;
    height: 20vh;
    left: 38%;
    top: 2vh;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 7vh;
    line-height: 4.53vh;
    color: #FFFFFF;
  }
  
  /* MAIN AVATARS */
  .avatar1 {
    position: absolute;
    width: 13.86%;
    height: 26vh;
    left: 43.36%;
    top: 13vh;
    border-radius: 60%;
    background: #BABEFF;
  }

  .avatar1 #img1{
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 60%;
  }
  
  .avatar2 {
    position: absolute;
    width: 10.42%;
    height: 19.84vh;
    left: 24.89%;
    top: 18vh;
    border-radius: 60%;
    background: #BABEFF;
    
  }

  .avatar2 #img2{
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 60%;
  }
  
  .avatar3 {
    position: absolute;
    width: 10.42%;
    height: 19.84vh;
    left: 65.44%;
    top: 18vh;
    border-radius: 60%;
    background: #BABEFF;
  }

  .avatar3 #img3{
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 60%;
  }
  
  /* TOP PARTICIPANT BOXES */
  #boxsecond{
    position: absolute;
    width: 14%;
    height: 4vh;
    left:23%;
    top:38.5vh;
    text-align: center;
    color: #FFFFFF;
    font-size: 3vh;
    font-family: "Inter";
    padding-top: 0.39vh;
    background: #BABEFF;
    border-radius: 16px;
  }
  #boxfirst{
        position: absolute;
        width: 15%;
        height: 4vh;
        left:43%;
        top:39.5vh;
        text-align: center;
        color: #FFFFFF;
        font-size: 3.2vh;
        font-family: "Inter";
        padding-top: 0.39vh;
        background: #BABEFF;
        border-radius: 16px;
      }
  
  #boxthird {
    position: absolute;
    width: 14%;
    height: 4vh;
    left:63.5%;
    top:38.5vh;
    text-align: center;
    color: #FFFFFF;
    font-size: 3vh;
    font-family: "Inter";
    padding-top: 0.39vh;
    background: #BABEFF;
    border-radius: 16px;
  }
  
  /* PARTICIPANT BOXES */
  .box0 {
    position: absolute;
    width: 100vw;
    height: 65vh;
    top:-20vh;
    background: #656CEC;
    border-radius: 64px;
  }
  
  
  